#login-tabs-standard.tab-pane.active role="tabpanel" tabindex="0"
  .row
    - if Setting.login_enabled
      .auth-providers.col-md-6
        == render 'devise/shared/links'
    - else
      .col-md-12
        == render 'devise/shared/links'
